.IMUDisplay {
    text-align: center;
    height: 65vh;
    margin: 20px 3vw;
    background-color:rgba(17, 17, 94, 0.4);
    border-radius: 0.5%;
    border: 2px solid #56d0fc;
    display: flex;
    position: relative;
}

.title {
    height: 20px;
    position: absolute;
    margin-left: 1vw;
    margin-top: 5px;
}

.words{
    position: relative;
    margin-top: 30px;
    margin-left: 1vw;
    width: 30%;
    text-align: left;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(4, 1fr);
}

.rocket {
    width: 70%
}

.data {
    font-size: 35px;
}

.description {
    font-size: medium;
    color: gray;
}

#rocket {
    height: 60%;
    margin-top: 12vh;
}